#root {
	margin: 0 auto;
	text-align: center;
	border-style: solid;
}

.main-frame {
	display: flex;
	flex-direction: column;
	color: black;
	background-color: rgb(251,251,251);
	font-family: MaruburiLight;
	width: 100%;
	max-width: 390px;

}

.dday-div {
	display: flex;
	flex-direction: column;
	width: auto;
	line-height: 1em;		 
	margin: auto;
}
.dday-box {
	display: flex;
	flex-direction: column;
	min-width: 25px;
	width: 25px;
	flex-wrap: nowrap;
	line-height: 1em;
	margin: auto;
	margin-left: 5px;
	margin-right: 5px;
}

.dday-exp {
	display: flex;	
	flex-direction: column;
	width: auto;
	margin: auto;
	line-height: 1em;
	margin-left:5px;
	margin-right: 5px;
}

.dday-txt {
	display: inline-block;
	line-height: 1em;
	margin: auto;
}

.dday-idx {
	display: inline-block;
	margin: auto;
	font-size: 8px;
}

.dday-num {
	display: inline-block;
	width: 10px;
	margin: auto;
	min-width: 25px;
	vertical-align: middle;
	line-height: 1em;
}

@media (max-width: 1400px) {
	.main-frame {
		width: 100%;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 1.5s ease-in-out;
	margin-top: 10px;
	margin-bottom: 10px;
}

@font-face {
	font-family: 'MaruBuriSemiBold';
	src: url('./assets/fonts/MaruBuri-SemiBold.otf') format('opentype');
}

@font-face {
	font-family: 'MaruBuri';
	src: url('./assets/fonts/MaruBuri-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'MaruBuriLight';
	src: url('./assets/fonts/MaruBuri-Light.otf') format('opentype');
}
@font-face {
	font-family: 'MaruBuriExtraLight';
	src: url('./assets/fonts/MaruBuri-ExtraLight.otf') format('openttype');
}
@font-face {
	font-family: 'MaruBuriBold';
	src: url('./assets/fonts/MaruBuri-Bold.otf') format('opentype');
}
