.calendar {
	width: 70%;
	height: auto;
	border-collapse: collapse;
	margin: auto;
}

.calendar th, .calendar td {
	text-align: center;
	padding-bottom: 0.3rem;
	padding-top: 0.3rem;
}

.calendar th {
	/*background-color: rgba(255,205,240,0.281);*/
	color: #333;
	z-index: 1;
}

.calendar td {
	/*background-color: rgb(254,247,238);*/
	color: #333;
	z-index: 1;
}



.calendar .sunday {
	color: rgba(255,0,0,0.568);
}


.calendar .special-day {
	position: relative;
	z-index: 1;
	font-family: maruburibold;
	color: black;
}


.calendar .special-day::after {
	{/*	content: '♥';*/}
	content:'. ';

	display: block;
	background-image: url(./assets/love.png);
	background-size: 3rem;
	background-repeat: no-repeat;
	background-position: center;
	color: transparent;
	font-size: 10px;
	width: 3rem;
	height: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	animation: heartbeat 3s infinite;
}

@keyframes heartbeat {
	0% {
		transform: translate(-50%,-50%) scale(1);
	}
	25% {
		transform: translate(-50%,-50%) scale(1.05);
	}
	50% {
		transform: translate(-50%,-50%) scale(1);
	}
	75% {
		transform: translate(-50%,-50%) scale(1.05);
	}
	100% {
		transform: translate(-50%,-50%) scale(1);
	}
}


