.calendar {
	width: 80%;
	height: auto;
	border-collapse: collapse;
	margin: auto;
}

.calendar th, .calendar td {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 5px;
}

.calendar th {
	/*background-color: rgba(255,205,240,0.281);*/
	color: #333;
	z-index: 1;
}

.calendar td {
	/*background-color: rgb(254,247,238);*/
	color: #333;
	z-index: 1;
}



.calendar .sunday {
	color: rgba(255,0,0,0.568);
}


.calendar .special-day {
	position: relative;
	z-index: 1;
}


.calendar .special-day::after {
	content: '♥';
	color: rgba(255,0,0,0.5);
	font-size: 35px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: -1;
	animation: heartbeat 3s infinite;
}

@keyframes heartbeat {
	0% {
		transform: translate(-50%,-50%) scale(1);
	}
	25% {
		transform: translate(-50%,-50%) scale(1.1);
	}
	50% {
		transform: translate(-50%,-50%) scale(1);
	}
	75% {
		transform: translate(-50%,-50%) scale(1.1);
	}
	100% {
		transform: translate(-50%,-50%) scale(1);
	}
}


