.slide-container {
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.slide-image {
	width: auto;
	height: auto;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.slick-list {
	overflow: visible;
}
